
.icon-record:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-right-open-1:before { content: '\e803'; } /* '' */
.icon-left-open-1:before { content: '\e804'; } /* '' */
.icon-right-open-2:before { content: '\e805'; } /* '' */
.icon-left-open-2:before { content: '\e806'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-battery-1:before { content: '\f243'; } /* '' */
.icon-battery-0:before { content: '\f244'; } /* '' */
